explore {
	text-align: left;
	background: #F1F3F4;
	border-color: #d5d5d5;
	border-radius:  0px 0.5em 0.5em;
	border: 1px solid;
	padding: 10px;
	margin: 10px;
	box-sizing: border-box;
	max-width: 620px;
	min-height: 200px;
	height: max-content;
	vertical-align: middle;
	position: relative;
}

explore folder, explore file {
	display: block;
	padding-left: 23px;
	position: relative;
	max-width: 600px;
	height: 20px;
	background-repeat: no-repeat;
	background-size: contain;
}
explore folder {
	background-image: url('../img/folder1-24.png');
}
explore folder[back] {
	background-image: url('../img/folder2-24.png');
}
explore folder[root] {
	background-image: url('../img/folder3-24.png');
}
explore folder span, explore file span {
	text-decoration: none;
	color: #000;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	position: absolute;
	top: 4px;
	left: 0px;
	z-index: 0;
	max-width: 580px;
	cursor: pointer;
	margin-left: 23px;
	font-family: "Helvetica", sans-serif;
	font-size: 10pt;
}
explore folder span:hover, explore file span:hover {
	text-overflow: normal;
	white-space: normal;
	overflow: visible;
	word-break: break-all;
	background-color: #eee;
	z-index: 2;
	border: 1px solid #abc;
	top: 3px;
	left: -1px;
	border-radius: 1px;	
	background-color: #DBF;
}

explore file img.join {
	cursor: pointer;
	top: 3px;
	position: relative;
	padding-right: 3px;
}

explore file group.hidden {
	display: none;	
}