explore {
	text-align: left;
	background: #F1F3F4;
	border-color: #d5d5d5;
	border-radius:  0px 0.5em 0.5em;
	border: 1px solid;
	padding: 10px;
	margin: 10px;
	box-sizing: border-box;
	max-width: 620px;
	min-height: 200px;
	height: max-content;
	position: relative;
}

explore folder a,
explore file a {
	color: #639;
	text-decoration: none;
}
explore file a.info {
	cursor: help;	
}

explore folder,
explore file {
	display: flex;
	padding-left: 23px;
	position: relative;
	max-width: 600px;
	height: 18px;
	margin: 0px;
	background-repeat: no-repeat;
	background-size: auto 15px;
}
explore file[scan='video'] {
	background-image: url('../img/video1-24.png');
}
explore folder {
	background-image: url('../img/folder1-24.png');
}
explore folder[back] {
	background-image: url('../img/folder2-24.png');
}
explore folder[root] {
	background-image: url('../img/folder3-24.png');
}
explore folder span,
explore file span {
	text-decoration: none;
	color: #000;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 0;
	max-width: 580px;
	margin-left: 23px;
	font-family: "Helvetica", sans-serif;
	font-size: 10pt;
	padding-top: 2px;
}
explore folder span[content='show'],
explore file span[content='show'] {
	text-overflow: normal;
	white-space: normal;
	overflow: visible;
	word-break: break-all;
	background-color: #eee;
	z-index: 2;
	border: 1px solid #abc;
	top: -1px;
	left: -1px;
	border-radius: 1px;	
}

explore file img.join {
	cursor: pointer;
	padding-right: 3px;
	height: 12px;
}

explore file group[content='expand'] {
	display: block;
}
explore file group[content='hide'] {
	display: none;
}