body {
	font-family: Helvetica sans-serif;
	font-size: 10pt;
	margin: 10px auto;
	color: #333;
}
body > grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, 620px);
	grid-auto-flow: dense;	
}

h1 {
	font-size: 12pt;
    margin-block: 5px;
    background-color: #eee;
    padding: 3px;
}

