body {
	font-family: Helvetica sans-serif;
	font-size: 10pt;
	margin: 0px auto;
	color: #333;
}
body > grid {
	display: grid;
	grid-template-columns: minmax(200px, max-content) repeat(auto-fit, 620px);
	grid-auto-flow: dense;	
}

h1 {
	font-size: 12pt;
    margin-block: 5px;
    background-color: #eee;
    padding: 3px;
}


h1 actions {
	display: block;
	margin-left: auto;
	float: right;
}

h1 actions img {
	margin: 0px 2px;
}
