body {
	font-family: Arial Narrow sans-serif;
	margin: 10px auto;
	color: #333;
}
body grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(620px, 1fr));
	grid-auto-flow: dense;	
}



selectContainer {
	background: #F1F3F4;
	border-color: #d5d5d5;
	border-radius:  0px 0.5em 0.5em;
	border: 1px solid;
	padding: 10px;
	margin: 10px;
	box-sizing: border-box;
	max-width: 620px;
	min-height: 200px;
	height: max-content;
	vertical-align: middle;
	position: relative;
}
selectContainer {
	text-align: center;	
}
selectButtons {
	width: 620px;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    top: -11px;
}
cropButtons {
	width: 598px;
	margin: 0px 10px;
    grid-template-columns: repeat(auto-fit, minmax(55px, 1fr));
    top: -1px;
}
selectButtons, cropButtons {
    box-sizing: border-box;
    background: #F6F8FB;
    border-color: #d5d5d5;
    border-radius: 0px 0.5em 0.5em;
    border: 1px solid;
    position: relative;
    left: -11px;
    min-height: 30px;
    display: grid;
    grid-auto-flow: dense;
}
selectButton, cropButton {
	font-family: Arial Narrow;
	background-color: #ddd;
	box-sizing: border-box;
	margin: 3px;
	font-size: 0.9em;
	border-radius: 5px;
	padding: 3px;
	cursor: default;
}
selectButton input[type=checkbox] {
	padding: 0px;
	margin: 0px;
}
selectButton[active],
cropButton[active] {
	background-color: #bbb;
}
selectButton[attention],
cropButton[attention]{
	color: #f00;
	background-color: #ebb;
}
cropButton[seeking] {
	font-size: 0px;
	background-image: url('../img/loader.svg');
	background-size: 16px;
	background-repeat: no-repeat;
	background-position: center;
}
selectButton:hover,
cropButton:hover {
	background-color: #aaa;
}

selectButton img.duplicate {
	cursor: pointer;
	width: 16px;
}

selectContent {
	display: grid;
	text-align: left;
	grid-template-columns: minmax(110px, max-content) minmax(190px, 2fr) minmax(280px, 4fr);
}
selectContent[subtitle] {
	grid-template-columns: minmax(110px, max-content) minmax(320px, 4fr) minmax(30px, 30px);
}
selectContent.archiveFiles {
	grid-template-columns: minmax(320px, 4fr) minmax(100px, max-content);
}
selectContent.archiveGlobal {
	grid-template-columns: minmax(150px, 1fr) minmax(180px, 2fr);
}
selectContent[hidden] {
	display: none;	
}
selectContent img.loader {
	margin-top: 50px;
	margin-bottom: 15px;
	width: 30px;
	height: 30px;
	box-sizing: border-box;
	padding: 0px;
}

selectContent select, selectContent input[type="number"] {
	max-width: 150px;	
}

selectContent delimiter {
	width: 100%;
	height: 1px;
	border: 1px solid #333;
	display: block;
	box-sizing: border-box;
	grid-column: 1 / span 3;
}
selectContent p {
	margin: 0px;
}
selectContent label {
	grid-column: 1;
}
selectContent text {
	grid-column: 2 / span 2;
}

selectContent cropPreviewContainer {
	margin-top: 15px;
	border-color: #d5d5d5;
	border-radius:  0px 0.5em 0.5em;
	border: 1px solid;
}
selectContent cropPreviewContainer img {
	width: 596px;	
    border-radius: 0px 0px 0.5em 0.5em ;
}

