body {
	margin: 10px auto;
	color: #333;
}

#statusContainer {
	max-width: 600px;
	font-family: "Tahoma", sans-serif;
	font-size: 10pt;
}

file {
	display: block;	
}

statusItemContainer {
	border: 1px solid #234;
	border-radius: 3px;	
	padding: 5px;
	margin: 3px;
	max-width: 600px;
	grid-template-columns: minmax(80px, max-content) auto;
	display: grid;
}
data {
	position: relative;
	background-color: inherit;
}
data > span {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 0;
	width: 100%;
	cursor: pointer;
}
data > span info {
	display: inline;	
}
data > span more {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
	width: 100%;
	display: none;	
}
data > span:hover,
data > span:hover more {
	text-overflow: normal;
	white-space: normal;
	overflow: visible;
	word-break: break-all;
	background-color: #eee;
	z-index: 2;
	border: 1px solid #abc;
	top: -1px;
	left: -1px;
	border-radius: 3px;	
}
data > span:hover more {
	display: block;
}

statusItemContainer[status="10"],
statusItemContainer[status="0"] {
	background-color: #bbb;
}

statusItemContainer[status="1"],
statusItemContainer[status="3"],
statusItemContainer[status="11"] {
	background-color: #cad9d7;
}

statusItemContainer[status="2"] {
	background-color: #caced9;
}

statusItemContainer[status="4"] {
	background-color: #bfd1ff;
}

statusItemContainer[status="12"] {
	background-color: #e6ccff;
}

statusItemContainer[status="5"],
statusItemContainer[status="15"] {
	background-color: #dbffe5;
}
statusItemContainer[status="91"],
statusItemContainer[status="93"] {
	background-color: #d8cad8;
}

statusItemContainer[status="92"],
statusItemContainer[status="94"] {
	background-color: #ffe5db;
}
statusItemContainer[status="82"],
statusItemContainer[status="84"] {
	background-color: #fcc;
}


@media only screen and (max-width: 600px) {
	#statusContainer {
		max-width: 100%;
	}
	statusItemContainer {
		border: 1px solid #234;
		border-radius: 3px;	
		padding: 5px;
		margin: 3px;
		max-width: 100%;
		grid-template-columns: minmax(80px, max-content) auto;
		display: grid;
	}
}

