body {
	font-family: Arial Narrow sans-serif;
	margin: 10px auto;
	color: #333;
}
#statusContainer {
	display: grid;
	grid-template-columns: minmax(100px, max-content);
	grid-auto-flow: dense;	
}

file {
	display: block;	
}

file[hidden] {
	display: none;
}

.statusItem {
	border: 1px solid #234;
	border-radius: 3px;	
	padding: 5px;
	margin: 3px;
}
.statusItem > div {
	display: grid;
	grid-template-columns: minmax(100px, max-content) auto;
}

.statusItem.waiting {
	background-color: #bbb;
}

.statusItem.readyToScan, .statusItem.readyToConvert, .statusItem.readyToExtract {
	background-color: #cad9d7;
}

.statusItem.scanning {
	background-color: #caced9;
}

.statusItem.converting {
	background-color: #bfd1ff;
}

.statusItem.extracting {
	background-color: #e6ccff;
}

.statusItem.done {
	background-color: #dbffe5;
}
.statusItem.error {
	background-color: #ffe5db;
}
.statusItem.abort {
	background-color: #fcc;
}




