body {
	font-family: Arial Narrow sans-serif;
	margin: 10px auto;
	color: #333;
}
body > grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(620px, 1fr));
	grid-auto-flow: dense;	
}



